@use '@/stylesheets/variables' as var;

.section {
  padding-inline: 10.313rem;
  padding-block: 5.5rem;
  display: flex;
  background-image: url('../../assets/jpgs/backgrounds/hero/desktop/ready-bg-desktop.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
  justify-content: space-between;
}

.heading {
  letter-spacing: var.$letter-spacing-xl;
  font-weight: var.$font-weight-bold;
  font-family: var.$font-family-league-spartan;
  font-size: var.$font-size-l;
  line-height: var.$line-height-m;
  color: var.$color-white;
}

@media (width <= 1024px) {
  .section {
    gap: 1.5rem;
    padding-block: 4.5rem 4rem;
    padding-inline: 4.125rem 5.438rem;
    flex-direction: column;
    background-image: url('../../assets/jpgs/backgrounds/hero/tablet/ready-bg-tablet.jpg');
  }
}

@media (width <= 640px) {
  .section {
    gap: 1.25rem;
    padding-block: 5.25rem 5rem;
    padding-inline: 1.5rem;
    background-image: url('../../assets/jpgs/backgrounds/hero/mobile/ready-bg-mobile.jpg');
  }

  .heading {
    text-align: center;
    padding-inline: 1rem;
    font-size: var.$font-size-m2;
  }
}
