@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

// Font Family
$font-family-league-spartan: 'League Spartan', sans-serif;

// Font Sizes
$font-size-xl: 5rem;
$font-size-l: 3rem;
$font-size-m2: 2rem;
$font-size-m: 1.25rem;
$font-size-s: 1.0625rem;

// Line Heights
$line-height-xl: 5rem;
$line-height-l: 3rem;
$line-height-m2: 2.5rem;
$line-height-m: 1.5rem;
$line-height-s2: 2rem;
$line-height-s: 1.75rem;

// Letter Spacing
$letter-spacing-xl: -0.0625ch;
$letter-spacing-l: -0.03125ch;
$letter-spacing-m2: -0.05ch;
$letter-spacing-m: -0.015625ch;
$letter-spacing-s: 0.15625ch;

// Font Weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
